:root {
  /* Color styles */
  --white: #ffffff;
  --primary: #294dc5;
  --secondary: #3b4363;
  --secondary-lighten: #616e85;
  --secondary-light: #cccccc;
  --secondary-darken: #192a43;
  --base-default: #ebf1f6;

  /* Text-size styles */
  --text-caption: 12px;
  --text-body: 14px;
  --text-title: 18px;
  --text-head: 24px;
  --text-scream: 36px;

  /* Base font-family */
  --base-font-family: "Montserrat", sans-serif;
}
