:root {
  /* Color styles */
  --text-black: #000000;
  --text-white: #ffffff;
  --text-gray: #a9a9a9;
  --text-gray-lighten: #e1dddd;
  --text-primary: #3387e4;
  --base-default: #ebf1f6;

  /* Base font-family */
  --base-font-family: "Montserrat", sans-serif;
}
